h1{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    font-size: 60px;
}
h2{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    font-size: 40px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(30deg, lightsalmon, tomato);
    padding: 20px 30px;
    border-radius: 6px;
    color: white;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
}
.red-highlight{
    color: #FF8367;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.lastet-work{
    text-align: center;
}
#projects-area img{
    width: 100%;
    
}
.img-container{
    width: 26%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.p-title{
    color: #363958;
}
.work-content img{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.end-part{
    position: relative;
    text-align: center;
    
}
.work-inq{
    position: absolute;
    top: 10px;
    left: 300px;
    color: white;
}
.chat{
    position: absolute;
    top: 70px;
    right: 300px;
}
.end-part h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-top: 60px;
    color: #696871;
    left: 45%;
}
.mail{
    text-decoration: none;
    color: #363958;
    font-size: 35px;
}
.footer-img img{
    width: 35px;
    float: left;
    padding-left: 2%;
}
#social-icon{
    margin-left: 45%;
    margin-top: 2%;
}